* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-content: space-between;
}

.trybewarts-login {
  display: flex;
  align-self: center;
  justify-content: flex-end;
  width: 100%;
  padding: 20px;
}

#trybewarts-header-title {
  display: flex;
  align-self: center;
  justify-content: center;
}